{% extends "template.html" %}

{% block main %}
                {% if results %}
                {% for term in results %}
                <div class="row">
					<div class="charts panel-body widget-shadow">
						<h4 class="title">{{majorName}}的{{term["termName"]}}各班平均分</h4>
						<canvas id="{{term['termName']}}"  height="3000" width="8000" style="width: 8000px; height: 3000px;"></canvas>
					</div>
					<script>
						var getRandomColor = function() {
						  return (function(m,s,c){
						    return (c ? arguments.callee(m,s,c-1) : '#') +
						      s[m.floor(m.random() * 16)]
						  })(Math,'0123456789abcdef',5)
						}
						var barChartData = {
							labels : [],
							datasets : [
								{
									fillColor : getRandomColor(),
									strokeColor : "#ef553a",
									highlightFill: "#ef553a",
									data : []
								}
							]

						};
						{% for class in term["class"] %}
						barChartData.labels.push('{{class.className}}'.substring(0, 4));
						{% endfor %}
						barChartData.labels.push('{{majorName}}总'.substring(0, 4));
						{% for class in term["class"] %}
						barChartData.datasets[0].data.push('{{class.avg}}');
						{% endfor %}
						barChartData.datasets[0].data.push('{{term["majoravg"]}}');

						new Chart(document.getElementById("{{term['termName']}}").getContext("2d")).Bar(barChartData);
					</script>
				</div>
				<div class="row">
					 <div class="col stats-info widget-shadow">
						<table class="table stats-table table-hover">
							<h4 class="title">{{majorName}}{{term["termName"]}}的优秀学生</h4>
							<thead>
								<tr>
									<th>排名</th>
									<th>学号</th>
									<th>性别</th>
									<th>班级</th>
									<th>平均分</th>
								</tr>
							</thead>
							<tbody>
                            {% for student in term["topStu"] %}
								<tr>
									<th scope="row">{{ loop.index }}</th>
									<td>{{ student.id }}</td>
									<td><span class="label label-success">{{ student.gender }}</span></td>
									<td>{{ student.className }}</td>
									<td><h5>{{ student.avg|round(2) }}<i class="label"></i></h5></td>
								</tr>
                            {% endfor %}
							</tbody>
						</table>
					</div>
					<div class="clearfix"> </div>
					</div>
				<div class="row">
					 <div class="col stats-info widget-shadow">
						<table class="table stats-table table-hover">
							<h4 class="title">{{majorName}}{{term["termName"]}}的各科平均分</h4>
							<thead>
								<tr>
									<th>课程名称</th>
									<th>课程性质</th>
									<th>学分</th>
									<th>平均分</th>
								</tr>
							</thead>
							<tbody>
                            {% for course in term["majorAvg"] %}
								<tr>
									<td>{{ course.courseName }}</td>
									<td>{{ course.courseDe }}</td>
									<td>{{ course.credit }}</td>
									<td><h5>{{ course.avg|round(2) }}<i class="label"></i></h5></td>
								</tr>
                            {% endfor %}
							</tbody>
						</table>
					</div>
					<div class="clearfix"> </div>
					</div>
                {% endfor %}
				<div class="row">
					 <div class="col stats-info widget-shadow">
						<table class="table stats-table table-hover">
							<thead>
								<tr>
									<th>专业</th>
									<th>学期</th>
									<th>平均分</th>
								</tr>
							</thead>
							<tbody>
                            {% for term in results %}
								<tr>
									<th>{{majorName}}</th>
									<td>{{term["termName"]}}</td>
									<td><h5>{{term["majoravg"]| round(2)}}<i class="label"></i></h5></td>
								</tr>
                            {% endfor %}
							</tbody>
						</table>
					</div>
					<div class="clearfix"> </div>
					</div>
				{% endif %}
{% endblock %}




{% block search %}
<!--search-box-->
				<div class="search-box">
					<form class="input" method="post">
{{ form.hidden_tag() }}
 {{ form.string(class="sb-search-input input__field--madoka",placeholder="键入专业名称查询",id="input-31") }}
						<label class="input__label" for="input-31">
							<svg class="graphic" width="100%" height="100%" viewBox="0 0 404 77" preserveAspectRatio="none">
								<path d="m0,0l404,0l0,77l-404,0l0,-77z"/>
							</svg>
						</label>
</form>

				</div><!--//end-search-box-->
			<div class="clearfix"> </div>
{% endblock %}