{% extends "template.html" %}
{% block main %}
		<div id="page-wrapper">
			<div class="main-page">
				<div class="row-one">

					<div class="col-md-4 widget">
						<div class="stats-left">
							<h5>总数</h5>
							<h4>专业</h4>
						</div>
						<div class="stats-right">
							<label>{{ g.majorNum }}</label>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="col-md-4 widget states-mdl">
						<div class="stats-left">
							<h5>总数</h5>
							<h4>学生</h4>
						</div>
						<div class="stats-right">
							<label> {{ g.studentNum }}</label>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="col-md-4 widget states-last">
						<div class="stats-left">
							<h5>总数</h5>
							<h4>课程</h4>
						</div>
						<div class="stats-right">
							<label>{{ g.courseNum }}</label>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="charts">
					<!--专业分布-->
					<div class="col-md-6 charts-grids widget">
						<h4 class="title">性别比例</h4>
						<canvas id="pie" height="300" width="600"> </canvas>
					</div>
					<div class="col-md-6 stats-info states-mdl widget">
						<div class="stats-title">
							<h4 class="title">专业分布</h4>
						</div>
						<div class="stats-body">
							<ul class="list-unstyled">
								{% for classes in g.majors %}
								<li>{{ classes[0] }} <span class="pull-right">{{ classes[1] }}%</span>
									<div class="progress progress-striped active progress-right">
										<div class="bar green" style="width:{{ classes[1] }}%;"></div>
									</div>
								</li>
								{% endfor %}
							</ul>
						</div>
					</div>

					<div class="clearfix"> </div>
							 <script>
								var barChartData = {
									labels : ["软件1班","土木1班","土木2班","计算机1班","土木3班","计算机2班","土木4班"],
									datasets : [
										{
											fillColor : "rgba(233, 78, 2, 0.9)",
											strokeColor : "rgba(233, 78, 2, 0.9)",
											highlightFill: "#e94e02",
											highlightStroke: "#e94e02",
											data : [65,59,90,81,56,55,40]
										},
										{
											fillColor : "rgba(79, 82, 186, 0.9)",
											strokeColor : "rgba(79, 82, 186, 0.9)",
											highlightFill: "#4F52BA",
											highlightStroke: "#4F52BA",
											data : [40,70,55,20,45,70,60]
										}
									]
								};
								var pieData = [
										{
											value: {{ g.male }},
											color:"rgba(233, 78, 2, 1)",
											label: "男"
										},
										{
											value : {{ g.female }},
											color : "rgba(242, 179, 63, 1)",
											label: "女"
										}
									];

							//new Chart(document.getElementById("bar").getContext("2d")).Bar(barChartData);
							new Chart(document.getElementById("pie").getContext("2d")).Pie(pieData);

							</script>

				</div>
				<div class="row">

					<div class="panel-body widget-shadow">
						<table class="table stats-table table-hover">
							<thead>
								<tr>
									<th>排名</th>
									<th>学号</th>
									<th>性别</th>
									<th>平均分</th>
								</tr>
							</thead>
							<tbody>
								{% for student in g.score %}
								<tr style="cursor: pointer;" onclick="window.open('https://www.baidu.com')">
									<th scope="row">{{ loop.index }}</th>
									<td>{{ student.id }}</td>
									<td><span class="label label-success">{{ student.gender }}</span></td>
									<td><h5>{{ student.average }} <i class="label"></i></h5></td>
								</tr>
								{% endfor %}
								<script>

								</script>
							</tbody>
						</table>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
{% endblock %}
