{% extends "template.html" %}
{% block main %}
<div id="page-wrapper">
			<div class="main-page">
				<div class="row-one">
					<div class="clearfix"> </div>
				</div>
				<div class="charts">
				</div>

				<div class="clearfix"> </div>
				 {% if g %}
					<div class="row">
					 <div class="col stats-info widget-shadow">
						<table class="table stats-table table-hover">
							<thead>
								<tr>
									<th>名称</th>
									<th>平均分</th>
									<th>总课程数</th>
									<th>优秀课程数</th>
									<th>不及格课程数</th>
									<th>优秀比例</th>
									<th>不及格比例</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th>{{g.search}}</th>\
									<td><h5>{{g.avg}} <i class="label"></i></h5></td>
									<td><h5>{{g.nums}} <i class="label"></i></h5></td>
									<td><h5>{{g.youxiu}} <i class="label"></i></h5></td>
									<td><h5>{{g.bujige}} <i class="label"></i></h5></td>
									<td><h5>{{g.youxiulv}} <i class="label"></i></h5></td>
									<td><h5>{{g.bujigelv}} <i class="label"></i></h5></td>
								</tr>
							</tbody>
						</table>
					</div>
						<div class="clearfix"> </div>
					</div>
					<div class="clearfix"> </div>
				<div class="clearfix"> </div>
				{% endif %}
			</div>
		</div>
{% endblock %}




{% block search %}
<!--search-box-->
				<div class="search-box">
					<form class="input" method="POST">
{{ form.hidden_tag() }}
						<label>{{form.info()}}</label>
 {{ form.search(class="sb-search-input input__field--madoka",placeholder="键入查询以搜索...",id="input-31") }}
						<label class="input__label" for="input-31">
							<svg class="graphic" width="100%" height="100%" viewBox="0 0 404 77" preserveAspectRatio="none">
								<path d="m0,0l404,0l0,77l-404,0l0,-77z"/>
							</svg>
						</label>
</form>

				</div><!--//end-search-box-->
			<div class="clearfix"> </div>
{% endblock %}