{% extends "template.html" %}
{% block main %}
<div id="page-wrapper">
			<div class="main-page">
				<div class="row-one">
					<div class="clearfix"> </div>
				</div>
				<div class="charts">

				</div>
				<div class="row">
					 <div class="col stats-info widget-shadow">
						<table class="table stats-table table-hover">
							<thead>
								<tr>
									<th>名称</th>
									<th>课程代码</th>
									<th>人数</th>
									<th>平均分</th>
								</tr>
							</thead>
							<tbody>

							</tbody>
						</table>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
{% endblock %}